<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar *ngIf = "categoryImage">
         <img [src] = "categoryImage">
      </div>
      <mat-card-title>{{category}}</mat-card-title>
      <mat-card-subtitle>classification result</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{classifyService.doc}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div >

        <mat-form-field >
          <mat-select [placeholder]="category" [(ngModel)] = "changeCategory" name = "changeCategory" >
            <mat-option *ngFor = "let category of categories" [value]="category.name">{{category.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        
        <button mat-raised-button color="primary" (click)= change()>change category</button>
      </div>
    <div>
        <button mat-raised-button color="primary" (click)= onclick()>Save</button>
    </div>
     
    </mat-card-actions>
  </mat-card>
  
 