<div>
<button mat-raised-button color="primary" routerLink="/addbook" routerLinkActive="active"> Add New Book </button>
</div>

<h1>Book List</h1>

<mat-accordion>
    <mat-expansion-panel *ngFor = "let book of books|async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      by {{book.author}}  
      <div>
        <button mat-raised-button color="primary" [routerLink]="'/addbook/'+book.id" routerLinkActive="active"> Edid </button>
        </div>
        <button mat-raised-button color="primary"
                 (click)= deleteBook(book.id) >Delete
         </button>
        
    </mat-expansion-panel>
  </mat-accordion>