<mat-accordion>
        <mat-expansion-panel *ngFor = "let post of Post$">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{post.title}}
            </mat-panel-title>
          </mat-expansion-panel-header> 
          {{post.body}} 
         <div *ngFor = "let user of User$">
        <div *ngIf ="user.id==post.userId;other" > 
         by {{user.name}}
             </div> 
            </div> 
        </mat-expansion-panel>
      </mat-accordion>
      
